@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

:root {
  --max-width: 1180px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --main-font: "Heebo", sans-serif;
  --weight--300: 300;
  --weight--400: 400;
  --weight--500: 500;
  --weight--600: 600;
  --weight--700: 700;
  --weight--800: 800;
  --weight--900: 900;
  --hero-button: #FF6464;
  --text-color: #21243D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--main-font);
}

a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}
header {
  background: #fff;
}
header .header-logo {
  width: 1rem;
  height: auto;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
.navMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navMenu .navLink {
  font-size: 1.25rem;
  font-weight: var(--weight--600);
  color: var(--primary-color);
  margin: 30px;
}
/* ------------------------ Footer ---------------------------------------- */
footer {
  background: #fff;
  padding: 50px 0;
}

footer .footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
footer .social-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}