.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.hero .hero-lhs {
  width: 70%;
}
.hero .hero-lhs .hero-cta {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 140px;
  margin-bottom: 70px;
}
.hero .hero-lhs .hero-cta .main-head {
  font-size: 2.75rem;
  line-height: 3.75rem;
  font-weight: 700;
}
.hero .hero-lhs .hero-cta .sub-head {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  max-width: 500px;
}
.hero .hero-lhs .hero-cta .cta-button {
  padding: 14px 20px;
  font-size: 1.25rem;
}
.hero .hero-rhs {
  width: 30%;
}