.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.hero .hero-row {
  display: flex;
  flex-direction: row;
}
.hero .hero-lhs {
  width: 70%;
}
.hero .hero-lhs .hero-cta {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 140px;
  margin-bottom: 70px;
}
.hero .hero-lhs .hero-cta .main-head {
  font-size: 44px;
  line-height: 3.75rem;
  font-weight: 700;
}
.hero .hero-lhs .hero-cta .sub-head {
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
  max-width: 500px;
}
.hero .hero-lhs .hero-cta .cta-button {
  padding: 14px 20px;
  font-size: 1.25rem;
  line-height: 19px;
  margin-right: auto;
  background: var(--hero-button);
  color:#fff;
  border: none;
}
.hero .hero-rhs {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero .hero-rhs .hero-img .image {
  width: 283px;
  height: 283px;
  position: relative;
}