.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* ----------------- hero section ----------------- */
.hero .hero-row {
  display: flex;
  flex-direction: row;
}
.hero .hero-lhs {
  width: 70%;
}
.hero .hero-lhs .hero-cta {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 140px;
  margin-bottom: 70px;
}
.hero .hero-lhs .hero-cta .main-head {
  font-size: 44px;
  line-height: 3.75rem;
  font-weight: 700;
}
.hero .hero-lhs .hero-cta .sub-head {
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
  max-width: 500px;
}
.hero .hero-lhs .hero-cta .cta-button {
  padding: 14px 20px;
  font-size: 1.25rem;
  line-height: 19px;
  margin-right: auto;
  background: var(--hero-button);
  color:#fff;
  border: none;
}
.hero .hero-rhs {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero .hero-rhs .hero-img {
  position: relative;
}
.hero .hero-rhs .hero-img .image {
  width: 283px;
  height: 283px;
  z-index: 1;
  
}
.hero .hero-rhs .hero-img::after {
  content: "";
  position: absolute;
  top: 13px;
  left: -5px;
  width: 283px;
  height: 283px;
  background: #EDF7FA;
  z-index: -1;
  border-radius: 300px;
}

/* -------------------------  Home Blog Section --------------------------------------- */

.home-blog {
  background: #EDF7FA;
}
.home-blog .blog-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}
.home-blog .blog-head .heading {
  font-size: 22px;
  line-height: 60px;
  font-weight: 400;
  color: var(--text-color);
}
.home-blog .blog-head .more-link {
  font-size: 16px;
  font-weight: 400;
  color: #00A8CC;
}

/* ----------------------- Blog Carousel ----------------------------------------- */
.blog-carousel .blog-image {
  display: none;
}
.blog-carousel {
  display: flex;
  flex-direction:row;
  overflow: hidden;
  max-width: 100%;
}
.blog-carousel .blog-item {
  background-color: #fff;
  box-shadow: #bbe1fa3d 0 4px 10px 0;
  padding: 15px;
}
.blog-carousel .blog-item .blog-item-head {
  margin-bottom: 17px;
}
.blog-carousel .blog-item .blog-item-head .head {
  font-size: 26px;
  line-height: 38px;
  font-weight: 700;
  color: var(--text-color);
}
.blog-carousel .blog-info {
  display: flex;
  flex-direction: row;
  gap: 50px;
}